<% if !user_signed_in? %>
    <div class="jumbotron">
      <h1>Your Favorite Movies Reviewed</h1>
      <p>Flannel bushwick lumbersexual next level tilde man braid, mlkshk chia knausgaard everyday carry direct trade affogato. Church-key pabst XOXO cliche, street art sartorial craft beer mlkshk post-ironic letterpress tousled waistcoat you probably haven't heard of them. Master cleanse food truck tattooed iPhone marfa, disrupt godard microdosing literally cronut waistcoat try-hard farm-to-table tacos hoodie. Lo-fi +1 venmo, tote bag cold-pressed photo booth messenger bag pitchfork hashtag narwhal artisan. Tumblr beard knausgaard, everyday carry literally man bun twee jean shorts raw denim cold-pressed normcore bicycle rights bespoke put a bird on it. Ennui mixtape wayfarers street art, keffiyeh umami bespoke cold-pressed chambray. Deep v disrupt biodiesel banh mi waistcoat humblebrag.</p>
      <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>